html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    font-family: Verdana, helvetica, arial, sans-serif;
    font-size: 68.75%;
    color: #333;
}

#body {
    position: relative;
    height: 100%;
    width: 100%;
}